<a href="https://colab.research.google.com/github/joh-a-n/pythonworkmc/blob/main/Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
favfood = ['flan', 'chicken parm', 'empanadas', 'steak', 'takoyaki']

## 2.	Print out those variables by using a for loop

In [26]:
favfood = ['flan', 'chicken parm', 'empanadas', 'steak', 'takoyaki']

for x in favfood:
  print(x)

flan
chicken parm
empanadas
steak
takoyaki

## 3.	Modify your for loop to add a message to your for loop.

In [25]:
favfood = ['flan', 'chicken parm', 'empanadas', 'steak', 'takoyaki']

for x in favfood:
  print(x + ' is one of my favorite foods!')

flan is one of my favorite foods!
chicken parm is one of my favorite foods!
empanadas is one of my favorite foods!
steak is one of my favorite foods!
takoyaki is one of my favorite foods!

## 4.	Use a for loop to print even numbers from 1-20.

In [14]:
for num in range (2, 21, 2):
  print(num)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [27]:
favfood = ['flan', 'chicken parm', 'empanadas', 'steak', 'takoyaki']
print(sorted(favfood))

['chicken parm', 'empanadas', 'flan', 'steak', 'takoyaki']

## 6.	Print out the first three elements of your list.

In [28]:
favfood = ['flan', 'chicken parm', 'empanadas', 'steak', 'takoyaki']
print(favfood[0:3])

['flan', 'chicken parm', 'empanadas']

## 7.	Create a loop to print the last 2 elements of your list.

In [29]:
favfood = ['flan', 'chicken parm', 'empanadas', 'steak', 'takoyaki']
for x in favfood[3:5]:
  print(x)

steak
takoyaki